<!doctype html>
<html>
	<head>
	<title>Usabaning Uratganung: Usab Perning!</title>
		<link type="text/css" rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
		<center>
			<h1>uyahanung diajar usabanang uratganung ukamproneng</h1>
		 	<form action="input" method = "post">
			 	Lebetkeun teks:<br />
			 	<textarea rows="10" cols = "30" name="kata" ></textarea>
			 	<br />
			 	<input type="submit" value= "OKE">
		 	</form>
		 	<h3>Hasilna bakal aya di handap:</h3>
		 	<br />
		 	{{ hasilnya }}
	 	</center>
	 	<hr />
	 	<center>
	 		<a href="/naonsih">Aplikasi naon ieu?</a>
	 	</center>
	</body>

</html>