<!doctype html>
<html>
	<head>
		<title>Naon ieu teh?</title>
		<link type="text/css" rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
		<h2>Naon ieu teh?</h2>
		<p>Translator basa garut prokem cenah mah.</p>
		<h2>Maksudna?</h2>
		<p>Nya kitu weh pokonamah. Baca we tuitna kang <a href="https://twitter.com/simangade/statuses/498087260806340609" target="_blank">@simangade</a> okeh :D</p>. 

		<h2>Kutu</h2>
		<ul>
		<li>ngan bisa nerjemahkeun ka usabanang uratganung. sabalikna can bisa :D</li>
		<li>nu diterjemahkeun ngan kata nu ngandung 2 suku kata. </li>
		<li>kata nu ngandung 'eu' masih salah nerjemahkeun. maklumlah, hese menggal katana :(</li>
		<li>oge suku kata nu ngan sahuruf, teu kapenggal. Siga kata atuh, teu dipenggal jadi a-tuh.</li>
		<li>Naon deuinya? ke nyusul lah..</li>
		</ul>
		<h2>kredit</h2>
		<p>Tribut kanggo mang Ayi Beutik, panglima Viking Persib Bandung, anu ngantunkeun Sabtu (9/8/2014). </p>
		<p>Aplikasi ieu nganggo basa python, teras nganggo framework webapp2 di google app engine.</p>

		<p> Pemenggalan kata ngangge algoritma nu didamel ku pak Pebbie di <a href="http://pebbie.wordpress.com/2010/07/30/pemenggalan-suku-kata-dengan-python/" target="_blank">tautan ieu</a>. </p>

		<hr />
	 	<center>
	 		<a href="/">Tepas</a> | Saran? caci maki? <a href="https://twitter.com/hahnsaja" target="_blank"> kadieu</a> weh.
	 	</center>
	</body>

</html>